/*
*画面のスタイルシート
*/

body{
   font-family: "Noto Sans JP","sans-serif";
   margin: 0 ;
   min-width: 1920px;

}

/*
*上部のページ内リンクのスタイルシート
*/

.header-list img{
    width: 40px;
    height: 40px;
    margin:0;
    padding: 0;
    
    }
    
    
    
    .project{
        position: absolute;
        top: 0;
        left: 1880px;
        padding: 0;
        width: 40px;
        height: 40px;
        
        
        }


        
        .profile p{
        font-size: 5px;
        
        }
        
        
        
        
        /*
        *背景のスタイルシート
        */
        .profile{
            background-image: url(img/長方形\ 1.png);
            background-size: 100%;
            width: 100%;
            max-width: 1920px;
            height: 1079px;
            
            }
            
            
            
            
            
            /*
            *名前（大文字）のスタイルシート
            */
            
            .box-profile{
            position: relative;
            bottom: 50px;
            }
            
            
            .main-title{
                display: block;
                font-size: 200px;
                font-weight: bold;
                line-height: 95%;
                color: white;
                margin: 50px 20px 10px 90px;
                
            }
            .sub-title{
                font-weight: normal;
                margin: 0px 20px 20px 90px;
                color: white;
                font-size: 50px;
                
            }
            .box-profile p{
                font-family:sans-serif;
                font-weight:normal;
                letter-spacing: 5px;
                font-size: 50px;
                margin: -30px 20px 20px 90px;
                padding: 0;
                color: white;
            
            
            }
            
            
            /*
            *ふゆこの画像
            */
            
            .item-list img{
            width: 1040px;
            height: 1040px;
            position: relative;
            bottom: 675px;
            left: 800px;
            
            }
            
            
            /*
            *aboutのスタイルシート
            */
            
            h2{
              margin: 60px 0 0 50px;
              padding: 0%;
            
            }
            .work{
             margin: 20px 0   0  50px;
             padding: 0;
             font-size: 15px;
             font-weight: normal;
            
            
            }
            .profile-list{
             margin: 10px 0  0  50px;
            padding: 0;
            font-size: 12px;
            font-weight: normal;
            font-family: serif;
            letter-spacing: 1px;
            
            }
            
            .support{
            margin: 20px 0  0   50px;
            padding: 0;
            font-weight: lighter;
            font-size: 10px;
            
            }
            
            .icon-list{
                list-style: none;
                width: 100%;
                max-width: 247px;
                height: 50px;
                display: flex;
                margin: 0px 0  0  50px;
                padding: 0;
                justify-content: left;
                align-items: center;
            }
            .icon-list img{
                width: 25px;
                height: 25px;
            }
            
            
            .icon-list li{
               margin-right: 25px;
            
            
            
            }
            
            /*
            *PCの写真
            */
            
            .pc-photo img{
            width: 1000px;
            height: 916px;
            max-width: 1920px;
            position: relative;
            bottom: 300px;
            left: 920px;
            overflow: hidden;
            }
            
            /*
            *projectのスタイルシート
            */
            
            .haikei2{
            width: 100%;
            max-width: 1920px;
            height: 650px;
            position: relative;
            bottom: 320px;
            
            
            }
            
            h3{
               font-size: 25px;
               font-weight:100 ;
               position: relative;
               bottom: 940px;
               left: 50px;
               color: white;
               font-family:sans-serif;
               letter-spacing: 2px;
            }
            
            .twitter-img img{
            width: 500px;
            height: 500px;
            
            
            position: relative;
            bottom: 914px;
            left: 50px; 
            
            
            }
            
            /*
            *twitterクローンのスタイルシート
            */
            
            .tw-clone {
                display: block;
                position: relative;
                left: 600px;
                bottom: 1400px;
                
            }
            
            .tw-clone ul{
             list-style: none;
             width: 100%;
             min-width: 1920px;
             padding: 0;
            
            }
            
            h4{
                width: 100%;
                max-width: 1920px;
                color: white;
                font-size: 20px;
                letter-spacing: 3px;
                font-weight: 100;
            }
            .kaisetu{
             color: white;
             font-weight: 200;
             letter-spacing: 2px;
            }
             .testacount{
            font-size: 25px;
            margin: 10px 0 0;
            color: white;
            }
            
            .mail-pass{
              color: white;
              margin: -10px 0 30px;
              line-height: 2.5em;
              font-weight: 100;
              letter-spacing: 1px;
            
            }
            
            .web{
                
                width: 40px;
                height: 30px;
                padding: 10px 10px;
                font-size: 20px;
                background-color: white;
                text-decoration: none;
                margin-right: 10px;
                position: relative;
                top: 20px;
                color: #797B78;
             
            
            }
            
            .git{
                width: 40px;
                height: 30px;
                padding: 10px 10px;
                font-size: 20px;
                color: white;
                text-decoration: none;
                position: relative;
                top: 20px;
                border: 1px solid white;
            
            
            }
            
            /*
            *ネットフリックスのスタイルシート
            */
            
            .netflix img{
            
                width: 500px;
                height: 500px;
                
                
                position: relative;
                bottom: 1275px;
                left: 50px; 
            
            }
            /*
            *netflix解説シート
            */
            
            .netflix-list {
                display: block;
                position: relative;
                left: 600px;
                bottom: 1750px;
                
            }
            
            .netflix-list ul{
             list-style: none;
             width: 100%;
             min-width: 1920px;
             padding: 0;
            
            }
            
            h5{
                width: 100%;
                max-width: 1920px;
                color:black;
                font-size: 20px;
                letter-spacing: 3px;
                font-weight: 100;
                
            }
            .kaisetu2{
             color:black;
             font-weight: 200;
             letter-spacing: 2px;
            }
             .testacount2{
            font-size: 25px;
            margin: 10px 0 0;
            color:black;
            }
            
            .mail-pass2{
              color: black;
              margin: -10px 0 30px;
              line-height: 2.5em;
              font-weight: 100;
              letter-spacing: 1px;
            
            }
            
            .web2{
                
                width: 40px;
                height: 30px;
                padding: 10px 10px;
                font-size: 20px;
                text-decoration: none;
                margin-right: 10px;
                position: relative;
                top: 20px;
                font-weight: 50;
                color:black;
                border: 1px solid #797B78;
            }
            
            .git2{
                width: 40px;
                height: 30px;
                padding: 10px 10px;
                font-size: 20px;
                font-weight: 50;
                color: white;
                text-decoration: none;
                position: relative;
                top: 20px;
                background-color:black
            
            
            }
            
            
            .contacts-back{
            width: 100%;
            max-width: 1920px;
            position: relative;
            left: 0;
            bottom: 1500px;
            
            }
            
            .contacts{
            display: block;
            position: relative;
            bottom: 1900px;
            left: 50px;
            
            
            
            }
            
            h6{
            color: white;
            font-size: 30px;
            font-weight: lighter;
            margin: 15px 0 0;
            padding: 0;
            
            
            }
            
            /*
            *imgスタイルシート
            */
            .contacts-list img{
            width: 25px;
            height: 25px;
            padding: 0;
            margin: 0;
            
            
            }
            
            .contacts-list li{
            list-style: none;
            color: white;
            display: flex;
            }
            
            .contacts p{
             margin: 0px  0px  10px 10px;
             align-items: center;
            
            
            }
            
            .block-footer{
            position: relative;
            bottom: 1500px;
            text-align: center;
            
            }
    
            
    
            
        