/*
*画面のスタイルシート
*/

body{
   font-family: "Noto Sans JP","sans-serif";
   margin: 0 ;
   min-width: 1920px;

}

/*
*1段目の自己紹介のスタイルシート
*/
.profile{
position: relative;

}


.haikei0 img{
width:100%;
max-width: 1920px;
height: 1079px;;
position: absolute;
top: 0;
}

.about img{
width: 40px;
height: 40px;
position: absolute;
top: 0;
}
